<div class="narrowToolbar">

</div>

<md-tab-group class="topToolbar">

  <md-tab label="Home">


  </md-tab>

  <md-tab label="Paskolos skaičiuoklė">


    <div class="page-padding" align="center">
      <div>
        <md-toolbar color="primary" layout-align="center center">
          <span class="spanCentered">Vartojimo paskolos skaičiuoklė</span>
        </md-toolbar>

        <h2 style="color:sienna">Informacija apie jūsų pageidaujamą paskolą</h2>
        <label style="color: gray">Pageidaujama paskolos suma</label>

        <md-slider [(ngModel)]="loan" class="md-slider-horizontal" showTicks="true" max="20000" min="500" step="1"
                   thumbLabel="true" value="500"></md-slider>
        <input [(ngModel)]="loan" class="digits">
        <span class="unit" style="color: gray">Eur</span>

        <div align="center">
          <label style="color:sienna">Paskolą imsiu</label>

          <input type="radio" name="alone" [(ngModel)]="ifAlone" checked> Vienas

          <input type="radio" name="alone" value="true" [(ngModel)]="ifAlone"> Su sutuoktiniu(bendraskoliu)

        </div>

      </div>

      <div>
        <h2 style="color:sienna">Informacija apie jūsų pajamas</h2>
        <label style="color: gray">Jūsų grynosios mėnesio pajamos</label>
        <md-slider [(ngModel)]="income" class="md-slider-horizontal" showTicks="true" max="20000" min="245" step="1"
                   thumbLabel="true" value="245"></md-slider>

        <input [(ngModel)]="income" class="digits" value="245" type="text" id="income">
        <span class="unit" style="color: gray">Eur/mėn.</span>

      </div>

      <div *ngIf="ifAlone">
        <label style="color: gray">Sutoktinio (bendramokslio) grynosios mėnesio pajamos</label>
        <md-slider [(ngModel)]="income2" class="md-slider-horizontal" showTicks="true" max="20000" min="500" step="1"
                   thumbLabel="true" value="500"></md-slider>
        <input [(ngModel)]="income2" class="digits">
        <span class="unit" style="color: gray">Eur</span>


      </div>

    </div>


  </md-tab>
  <md-tab label="Paraiškos pildymas">

    <div class="page-padding" align="center">
      <div>
        <md-toolbar color="primary" layout-align="center center">
          <span class="spanCentered">Paraiškos pildymas</span>
        </md-toolbar>

        <form action="#" id=LoanForm align="center">
          <label class="inputFormStyle">Paskolos suma *</label>
          <input id="loanAmount" class="digits" type="number" required>
          <span class=inputFormStyle>Eur</span>
          <br>
          <label class="inputFormStyle">Paskolos terminas *</label>
          <input id="loanTerm" class="digits" type="number" required>
          <br>


          <label class="inputFormStyle">Vardas *</label>
          <input id="firstName" class="digits" type="text" required>
          <br>

          <label class="inputFormStyle">Pavardė *</label>
          <input id="lastName" class="digits" type="text" required>
          <br>

          <!--nereikalingas-->
          <label class="inputFormStyle">Paskolos kodas *</label>
          <input id="personalCode" class="digits" type="text" required>
          <br>


          <!--pataisyti input type-->
          <label class="inputFormStyle">Dokumento tipas *</label>
          <input id="docType" class="digits" type="text" required>
          <br>

          <label class="inputFormStyle">Dokumento numeris *</label>
          <input id="docNumber" class="digits" type="number" required>
          <br>

          <label class="inputFormStyle">Šalis *</label>
          <input id="country" class="digits" type="text" required>
          <br>

          <label class="inputFormStyle">Miestas *</label>
          <input id="city" class="digits" type="text" required>
          <br>

          <label class="inputFormStyle">Adresas *</label>
          <input id="address" class="digits" type="text" required>
          <br>

          <label class="inputFormStyle">Telefononas1 *</label>
          <input id="phoneNumber1" class="digits" type="number" required>
          <br>

          <label class="inputFormStyle">Telefononas2 *</label>
          <input id="phoneNumber2" class="digits" type="number" >
          <br>

          <label class="inputFormStyle">Mėnesinis atlyginimas atskaičius mokesčius *</label>
          <input id="monthlySalary" class="digits" type="number" required>
          <span class=inputFormStyle>Eur</span>

          <button (click)="add(customers.value); customers.value=''">
            Add
          </button>


        </form>


      </div>


    </div>


  </md-tab>
</md-tab-group>
